<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="public/css/forms.css"/>
    <title>UniLink | Create a new account</title>
    <link rel="icon" type="image/x-icon" href="public/img/icon.svg">
</head>

<body>
    <div class="flex-center start-background">
        <div class="start-container">
            
            <img class="logo" src="public/img/logo.svg">
            <h3 class="default-font">Sing up to begin your journey!</h3>

            <form class="flex-center">
                <input class="default-font" type="email" name="email" placeholder="Email address">
                <input class="default-font" type="text" name="first-name" placeholder="First name">
                <input class="default-font" type="text" name="last-name" placeholder="Last name">
                <input class="default-font password-hidden" type="password" name="password" placeholder="Password">

                <button type="submit" class="filled-button default-font last-button">SIGN UP</button>
            </form>
            
            <p class="default-font">Have an account? <a href="login">Login here</a></p>
        </div>
    </div>
</body>