.base-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}

.lower-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
    height: 90vh;
    width: 100%;
}

.header {
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid #6A8988;
}

.header > .logo {
    width: 10vw;
    margin: 1vh;
}

.header > a > .logout {
    
    height: 2vw;
    width: 2vw;
    
    margin: 1vh;
    border: 0px;

    background-image: url("../img/logout.svg");
    background-color: white;
    
    cursor: pointer;
}

.header > form {
    width: 30vw;
    height: auto;
}

.events-container > form > input {
    height: 35px;
    width: 20vw;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #6A8988;
    margin: 1vh;

    color: black;
    font-weight: 400;
    font-size: 1.5vh;
    letter-spacing: 0.72px;
}

.events-container > form > .no-valid {
    border: 1px solid red;
}

.events-container > form {
    height: 100%;
}

.header > input {

    box-sizing: border-box;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #6A8988;
    border-radius: 25px;

    width: 30%;
    text-align: center;
    letter-spacing: 0.72px;
    
    margin: 0;
    padding: 1vh;
} 

.nav-bar {
    width: 15vw;
    height: 100%;
    border-right: 2px solid #6A8988;
    font-size: 0.8vw;
}

.nav-bar > .profile-photo {
    width: 6vw;
    margin-top: 8vh;
    margin-bottom: 3vh;
    padding: 0.25vh;
    border: 2px solid #6A8988;
}

.nav-bar > form {
    position: absolute;
    bottom: 2vh;
}

.nav-bar > form > button,
.events-container > form > button,
.events-container > .flex-center > form > button {

    height: 35px;
    width: 9vw;
    
    margin: 1vh;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #6A8988;
    border-radius: 8px;

    font-weight: 600;
    overflow-wrap: break-word;

    cursor: pointer;
    font-size: 1vw;
}

.events-container > .flex-center > form > button:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 3px 12px 0px;
}

.events-container > .flex-center > form > button {
    box-shadow: 0px;
    background-color: white;
}

.events-container > form > button {
    width: 20vw;
}

.events-container {
    height: calc(90vh - 5vh);
    width: calc(85vw - 2px);
}

.events {
    height: calc(90vh - 5vh - 8em);
    width: calc(85vw - 8em - 2px);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4em;
    grid-gap: 4em;
    overflow: auto;
}

.events > a:link { 
    text-decoration: none; 
} 

.events > a:visited { 
    text-decoration: none; 
} 

.events > a:hover { 
    text-decoration: none; 
} 

.events > a:active { 
    text-decoration: none; 
}

.events > a > div {
    border: 1px solid gray;
    border-radius: 1em 1em 0 0;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.events > a > div:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.events > a > div > img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}


.events > a > div > div {
    height: 50%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9vw;
}

.events > a > div > div > .enroled {
    background-color: rgb(248,215,218);
    border: 1px solid #942129;
    color: rgb(148,33,41);
    padding: 1.5vh;
    margin: 0px;
}

.events > a > div > div > form > button {
    height: 15px;
    width: 4vw;
    
    margin: 1vh;

    box-shadow: 0px;
    background-color: white;

    border-radius: 8px;

    font-weight: 600;
    font-size: 10px;

    cursor: pointer;
}

.events > a > div > div > form > button:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.events-container > .flex-center > form > .apply-button {
    border: 1px solid #6A8988;
    color: #6A8988;
}

.events-container > .flex-center > form > .del-button {
    border: 1px solid rgb(194, 37, 37);
    color: rgb(194, 37, 37);
}

.info-section {
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 200;
    line-height: 0px;
    color: #6A8988;
    letter-spacing: 1px;
}

.info-section > i {
    display: inline-block;
    margin-right: 1em;
}

.events-container > .flex-center > p {
    color: black;
}

.events-container > .flex-center > img {
    height: auto;
    width: 25%;
    object-fit: cover;
    border: 1px solid #6A8988;
    padding: 1vh;
    margin: 2vh;
}

.events > a {
    width: auto;
    height: 250px;
}

@media screen and (max-device-width: 480px){
    
    .header > .logo {
        width: 20vw;
        margin: 1vh;
    }

    .header > input {
        width: 50%;
    }

    .events {
    
        display: grid;
        grid-template-columns: 1fr;
        padding: 4em;
        grid-gap: 4em;
        overflow: auto;
    }

    .events > a {
        width: auto;
        height: 400px;
    }
    
    .events > a > div {
        height: 400px
    }

    .events > a > div > div  {
        font-size: 25px;
    }

    .info-section  {
        font-size: 20px;
    }

    input::placeholder {
        font-size: 20px;
    }

    .nav-bar > form > button {
        height: 8vw;
        width: 8vw;
    
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        background-color: transparent;
        background-size: cover;

        background-repeat: no-repeat;
        background-position: center; 
        background-size: 70%; 

        border: 1px solid #6A8988;
        border-radius: 8px;
        
        font-size: 0px;
    }

    .nav-bar > form > .home-icon {
        background-image: url("../img/home.svg");
    }

    .nav-bar > form > .your-events-icon {
        background-image: url("../img/events.svg");
    }

    .nav-bar > form > .add-event-icon {
        background-image: url("../img/plus.svg");
    }

    .nav-bar > .default-font {
        font-size: 0px;
    }

    .events-container > .flex-center {
        font-size: 25px;
    }
    
    .events-container > .flex-center > img {
        width: 70%;
    }

    .events-container > .flex-center > form > button {
        height: 50px;
        width: 10vw;
    }

    .events-container > form > input,
    .events-container > form > button {
        height: 45px;
        width: 50vw;
    }

    .events-container > form > button {
        font-size: 25px;
    }
}