body {
    margin: 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.default-font {
    font-family: 'NATS';
    font-style: normal;
    font-weight: 200;
    line-height: 0px;
    color: #6A8988;
}

.error-header {
    font-weight: 600;
    font-size: 15vw
}

.error-message {
    font-size: 4vw
}

.start-background {
    height: 100vh;
    width: 100vw;
    background-image: url("../img/background.svg");
    background-color: #6A8988;
    background-size: cover;
}

.start-container {
    background-color: white;
    border: 5px solid #546A6A;
    border-radius: 20px;
    position: relative;

    width: 450px;
    height: 50vh;
    min-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.start-container > .logo {
    width: 70%;
    margin-top: 1vh;
}

.start-container > .footer {
    width: 80%;
    position: absolute; 
    bottom: 0;
}

.start-container h3 {
    font-size: 22px;
    color: #6A8988;
    margin: 5vh;
    text-align: center;                                 
}

.start-container button {

    height: 45px;
    width: 300px;
    
    margin: 1vh;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #6A8988;
    border-radius: 8px;

    font-weight: 600;
    font-size: 17px;

    cursor: pointer;
}

.start-container > .align-right{
    margin-right: calc((450px - 300px) / 2);
    align-self: flex-end;
}

.start-container > form > .last-button {
    margin-top: 6vh;
}

.filled-button {
    color: white;
    background-color: #6A8988;
}

.filled-button:hover {
    background-color: #566d6c;
}

.empty-button {
    background-color: white;
}

.empty-button:hover {
    background-color: rgb(230, 230, 230);
}

.start-container input {
    height: 45px;
    width: 300px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #6A8988;
    margin: 1vh;

    color: black;
    font-weight: 400;
    font-size: 16px;
}

::placeholder {
    font-size: 15px;
    color: rgba(106, 137, 136, 0.7);
    
    padding-left: 0.25vw;
}

.password-hidden {
    background: url("../img/password_hidden.svg") no-repeat right;
    background-size: 30px;
}

.cell {
    width: 100%;
  }

@media screen and (max-device-width: 480px){

    .start-container {
        background-color: white;
        border: 0px;
        border-radius: 0px;
    
        height: 100%;
        width: 100%;
    }

    .start-container button, .start-container input {
        height: 100px;
        width: 70vw;
        font-size: 40px;
    }

    .start-container button {
        border-radius: 15px;
    }

    .start-container h3, .start-container p {
        overflow-wrap: break-word;    
    }

    .start-container h3 {
        font-size: 50px;                         
    }

    .start-container p {
        font-size: 40px;
    }

    ::placeholder {
        font-size: 36px;
    }

    .start-container > .align-right{
        margin-right: calc((100vw - 70vw) / 2);
        align-self: flex-end;
    }

    .password-hidden {
        background-size: 70px;
    }

    .error-header {
        font-weight: 600;
        font-size: 15vh
    }
    
    .error-message {
        font-size: 4vh
    }
  }