<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../css/forms.css"/>
    <title>UniLink | Forgot password?</title>
    <link rel="icon" type="image/x-icon" href="../../img/icon.svg">
</head>

<body>
    <div class="flex-center start-background">
        <div class="start-container">

            <img class="logo" src="../../img/logo.svg">
            <h3 class="default-font">Change your password to continue</h3>

            <form class="flex-center">
                <input class="default-font" type="email" name="email" placeholder="Email address">
                <input class="default-font password-hidden" type="password" name="old-password" placeholder="Old password">
                <input class="default-font password-hidden" type="password" name="old-password" placeholder="New password">
                <input class="default-font password-hidden" type="password" name="old-password" placeholder="Repeat new password">
                <button type="submit" class="filled-button default-font last-button">CONFIRM</button>
            </form>

        </div>
    </div>
</body>