<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../../css/forms.css"/>
    <title>UniLink | Start your journey!</title>
    <link rel="icon" type="image/x-icon" href="../../img/icon.svg">
</head>

<body>
    <div class="flex-center start-background">
        <div class="start-container">

            <img class="logo" src="../../img/logo.svg">
            <h3 class="default-font">Start your student life now!</h3>
            
            <form class="flex-center">
                <button type="submit" class="filled-button default-font" formaction="register.html">SIGN UP</button>
                <button type="submit" class="empty-button default-font" formaction="login.html">LOGIN</button>
                <p class="default-font"><span>OR</span></p>
                <button type="submit" class="empty-button default-font">TRY IT AS A GUEST</button>
            </form>

            <img class="footer" src="../../img/footer.svg">
        </div>
    </div>
</body>
